.input {
  display: flex;
  flex-direction: column;
  height: 80px;

  &__label {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__field {
    height: 30px;
    width: 230px;
    border: 1px solid #8080804f;
    border-radius: 4px;

    &_invalid {
      border-color: #FA0000;
    }

    &::placeholder {
      font-size: 12px;
    }
  }

  &__error {
    color: #FA0000;
    margin-top: 5px;
    font-size: 13px;
  }
}
